<section class="container my-5">
    <div class="row g-4">
        <div class="col-12 ">
            <div class="card h-100 shadow-sm hover-card">
                <img [src]="juego.image" class="card-img-top" [alt]="juego.name"
                    style="height: 450px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{juego.name}}</h5>
                    <p class="card-text text-muted grow">{{juego.descripcion}}</p>
                    <h5 class="card-text">Categoria: {{juego.categoria}}</h5>
                    <div class="d-flex gap-2">
                        <button class="btn btn-success flex-fill" (click)="editarJuego(juego)">
                            Editar
                        </button>
                        <button class="btn btn-danger flex-fill" (click)="deleteJuego(juego.id)">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
